/*  Color scheme.. for now... */
/* https://www.sessions.edu/color-calculator-results/?colors=38e8ff,307882,3ab1c1
https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=1&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.17478991596638654,0.33916148567180876,0.39999999999999997,0.9598053248890546,0.9891417636641472,1,0.39327731092436974,0.7631133427615697,0.9,0.25794117647058823,0.3251311222214427,0.35,0.30588235294117644,0.5935325999256653,0.7&swatchOrder=0,1,2,3,4*/
* {
  box-sizing: border-box;
  border-width: thin;
}
html {
  height: 100%;
  background-color: #F5FCFF;
}

div {
  /* border-color: white; */
}

h3 {
  font-family: 'Vollkorn', serif;
  font-size: 1.5em;
  margin: .5em;
}

p, pre, li {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
}

li {
  padding-bottom: .3em;
}

.App {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
}

.App-intro {
  font-size: large;
}

.Content-main {
  overflow: hidden;
  height: 100vh;
  margin-top: -150px;
  padding-top: 150px;
  backface-visibility: hidden;
  will-change: overflow;

  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.Content-center {
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;

  /* display: flex; */
  flex: 2 0;
  /* flex-direction: column; */
}

.Content-center::-webkit-scrollbar {
    display: none;
}

.App-footer {
  flex-basis: 100%;
  background-color: #2D5666;
  color: white;
  text-align: center;
}




.fadeout {
bottom: 0; /* top is also an option */
width:100%;
height: 1em;
background: -webkit-linear-gradient( /*for webkit based browsers */
rgba(255, 255, 255, 0) 0%,
rgba(255, 255, 255, 1) 100%
);
background-image: -moz-linear-gradient( /*for firefox*/
rgba(255, 255, 255, 0) 0%,
rgba(255, 255, 255, 1) 100%
);
background-image: -o-linear-gradient( /*opera browser*/
rgba(255, 255, 255, 0) 0%,
rgba(255, 255, 255, 1) 100%
);
background-image: linear-gradient(
rgba(255, 255, 255, 0) 0%,
rgba(255, 255, 255, 1) 100%
);
background-image: -ms-linear-gradient( /*microsoft ie*/
rgba(255, 255, 255, 0) 0%,
rgba(255, 255, 255, 1) 100%
);
}
