.App-logo {
  width: 50px;
  height: 50px;
}
.App-title {
  margin-left: 20px;
  font-size: 1.5em;
}

.App-header {
  display: flex;
  flex-basis: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #425059;
  height: 50px;
  padding: 15px;
  color: white;
}

.Header-links{
  display: flex;
}

.Header-link {
  padding: 5px;
  color: white;
}
