.Image-container {
	flex-shrink: .4;
	flex-basis: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.Image-block {
	flex-basis: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-style: solid;
	margin: 10px;
}

.ImageHeader {
	padding-left: 10px;
}

.imageDescription {
	margin:0;
}

.Image {
	max-width: 100%;
	height: auto;
}
