.Image-container {
	display: flex;
	flex-shrink: .4;
	flex-basis: 60%;

	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;

	overflow: auto;
	height: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
}

.Image-container::-webkit-scrollbar {
    display: none;
}

.Image-block {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	border-style: solid;
	margin: 10px;
}

.ImageHeader {
	padding-left: 10px;
}

.imageDescription {
	margin:0;
}

.Image {
	max-width: 100%;
	height: auto;
}
