.Ingredient-box {
  flex: 0 0 20%;
  padding : 10px;
  margin: 10px;
  border-style: solid;
}

.Ingredient-list {
  word-wrap: wrap;
  text-align: left;
}

.Ingredient-header {
  margin: 1em;
  text-align: center;
}
